name: url-shortener-dev
services:
  postgres:
    container_name: url-shortener-postgres
    image: postgres:17
    restart: always
    environment:
      POSTGRES_DB: url-shortener
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    ports:
      - 5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
volumes:
  postgres:
